<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyy.yimagebrowser">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".YImageBrowserActivity"
            android:theme="@style/Transparent"/>
    </application>

</manifest>
